/* Universal Styles */

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.button {
  margin: 20px auto;
  padding: 10px;
  width: 100px;
  height: 20px;
  background-color: #272727;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  list-style-type: none;
}

.flex-container li {
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
}
/* Nav Bar */
header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  min-height: 45px;
  position: absolute;
  padding: 20px;
  color: white;
  z-index: 100;
}

.burger {
  cursor: pointer;
}

.logo {
  font-size: 25px;
  letter-spacing: .5rem;
}

.nav-bar {
  text-align: right;
  padding-right: 40px;
  width: auto;
}

.nav-link {
  list-style-type: none;
  padding: 10px;
  letter-spacing: .5rem;
  font-size: .85rem;
}

.nav-link a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
}

.nav-menu {
  display: none;
  background-color: black;
  opacity: .7;
  border-radius: 20px;
}


@media only screen and (min-width: 900px) {
  .burger {
    display: none;
  }

  .nav-bar {
    width: 60vw;
  }

  .nav-menu {
    display: flex;
    justify-content: space-around;
    opacity: 1;
    z-index: 100;
    background-color: transparent;
  }

  .nav-link {
    letter-spacing: .15rem;
  }
}

/* Arrow container */
.arrow-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

img.arrow {
  position: absolute;
  top: 40vh;
  height: 100px;
}

img.arrow-left {
left: 0vw;
}

img.arrow-right {
  right: 0vw;
}

/* Image slider */
#slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.slides {
  width: 400vw;
  height: 100vh;
}

.slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  float: left;
}

.slide-1 {
  background-image: url("img/rock-climbing-1.jpg");
}

.slide-2 {
  background-image: url("img/rock-climbing-2.jpg");
}

.slide-3 {
  background-image: url("img/rock-climbing-3.jpg");
}

/* Section Break Line */
div .section_break {
  width: 100vw;
  align-content: center;
}

div .break_line {
  width: 75vw;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  margin-bottom: 70px;
  padding: 10px;
}

/* Section A */
.section_a {
  width: 100vw;
  height: auto;
  min-height: min-content;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.section_a h1 {
  padding-top: 30px;
  text-transform: uppercase;
}

/* Section B */
.section_b {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5rem;
}

.section_b>* {
  flex: 50% 50%;
}

.box img {
  width: 35vw;
  height: auto;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
  padding: 20px;
  margin: 20px;
}

.img-box {
  border-radius: 10px;
}

div.box h3 {
  padding-top: 1rem;
}

div.box p {
  padding-top: .5rem;
}

@media only screen and (max-width: 550px) {
  .section_b {
    display: block;
  }

  .box {
    width: 70vw;
    margin: 0 auto;
  }

  .box img {
    width: 70vw;
  }
}

/* Section C */
.section_c {
  width: 100vw;
  padding: 30px 0 10px 0;
  min-height: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: #5E5E5E;
  color: white;
}

.section_c h3 {
  width: 80vw;
  margin: 0 auto;
}


/* Footer */
footer {
  background-color: #272727;
  color: #7D7D7D;
  padding-bottom: 5rem;
}

.footer-text > * {
  padding: .4rem;
}
