/* Universal Styles */

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Nav Bar */
header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  min-height: 45px;
  position: absolute;
  padding: 20px;
  color: white;
  z-index: 100;
}

.burger {
  cursor: pointer;
}

.logo {
  font-size: 25px;
  letter-spacing: .5rem;
}

.nav-bar {
  text-align: right;
  padding-right: 40px;
  width: auto;
}

.nav-link {
  list-style-type: none;
  padding: 10px;
  letter-spacing: .5rem;
  font-size: .85rem;
}

.nav-link a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
}

.nav-menu {
  display: none;
  background-color: black;
  opacity: .7;
  border-radius: 20px;
}


@media only screen and (min-width: 900px) {
  .burger {
    display: none;
  }

  .nav-bar {
    width: 60vw;
  }

  .nav-menu {
    display: flex;
    justify-content: space-around;
    opacity: 1;
    z-index: 100;
    background-color: transparent;
  }

  .nav-link {
    letter-spacing: .15rem;
  }
}

/* Arrow container */
.arrow-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

img.arrow {
  position: absolute;
  top: 40vh;
  height: 100px;
}

img.arrow-left {
left: 0vw;
}

img.arrow-right {
  right: 0vw;
}

/* Image slider */
#slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.slides {
  width: 400vw;
  height: 100vh;
}

.slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  float: left;
}

.slide-1 {
  background-image: url("img/rock-climbing-1.jpg");
}

.slide-2 {
  background-image: url("img/rock-climbing-2.jpg");
}

.slide-3 {
  background-image: url("img/rock-climbing-3.jpg");
}
